{% extends "base.html" %}
{% block content %}
<div style="text-align: center; margin: 20px;">
    <h2>Reservar Veículo</h2>
    <p>Você está prestes a reservar o veículo <strong>{{ veiculo.modelo }}</strong>.</p>
    <p><strong>Categoria:</strong> {{ veiculo.categoria }}</p>
    <p><strong>Valor da Diária:</strong> €{{ veiculo.valor_diaria }}</p>
</div>

<form method="POST" action="{{ url_for('reservar', veiculo_id=veiculo.id) }}">
    <label for="data_inicio">Data de Início:</label>
    <input type="date" id="data_inicio" name="data_inicio" required>

    <label for="data_fim">Data de Fim:</label>
    <input type="date" id="data_fim" name="data_fim" required>

    <label for="forma_pagamento">Forma de Pagamento:</label>
        <select id="forma_pagamento" name="forma_pagamento" required>
            <option value="Cartão">Cartão</option>
            <option value="Carteira Digital">Carteira Digital</option>
        </select>

    <input type="submit" value="Confirmar Reserva">
</form>

<div style="text-align: center; margin-top: 20px;">
    <a href="{{ url_for('detalhes_veiculo', id=veiculo.id) }}">
    <h3>{{ veiculo.modelo }}</h3>
</a>
</div>
{% endblock %}